/* Bahnschrift Regular */
@font-face {
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/bahnschrift.woff2);
}
  
/* BebasNeue Regular */
@font-face {
    font-family: "BebasNeue";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/BebasNeue-Regular.woff2);
}